@import "assets/styles/index.scss";

.wrapper {
  padding: 10px;
  background-color: $lightOrange;
  border-radius: 6px;
  text-align: right;
  width: fit-content;
  margin-right: 10px;
  margin-left: auto;
}

.text {
  @include text;
}
