@import "assets/styles/index.scss";

body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiassed;
  -moz-osx-font-smoothing: grayscale;
  background-color: $gray2;
  overflow: hidden;

  & > div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $gray5;
  border-radius: 10px;

  &:hover {
    background: $gray6;
  }
}
