@mixin title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

@mixin subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@mixin text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@mixin caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

@mixin listWrapper {
  display: grid;
  gap: 30px;
  padding: 20px;
  background-color: $gray8;
  border-radius: 6px;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;

  @media screen and (max-width: $phone) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  @media screen and (min-width: #{$phone + 1px}) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
